.CoursesDashboard {
    margin: auto;
    margin-left: 10px;
    background-color: #fff;
    width: 80%;
    padding: 27px;
    max-height: 100%;
    overflow: auto;
}

.CoursesDashboard button:hover{
    box-shadow: 0px 2px 11px 3px #ccc !important;
}