  .main-spinner {
    position: fixed;
    text-align: center;
    padding: 11PX;
    z-index: 1000;
    background: linear-gradient(rgb(40, 167, 234) 0%, rgb(46, 147, 230) 50%, rgb(32, 124, 202) 100%, rgb(64, 156, 228) 100%, rgb(40, 167, 234) 100%);
    width: 50%;
    box-shadow: 0px 3px 28px -10px #000000;
    transition: all 0.3s ease-in-out ;
    animation: bom .2s ease-in-out 0s 1 none running;
    display: flex;
    font-weight: bold;
}

.spinner {
  margin: auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}