.People { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border: 1px solid #ececec;
    transition: all .3s ease-in-out;
    margin-bottom: 10px;
}

.People:hover {
    background-color: #e4e4e4;
    border: 1px solid #d8d8d8;
    box-shadow: 0px 0px 11px 0px #d8d8d8 !important;
}

.imageContainer {
    background-color: #ccc;
    height: 50px;
    width: 50px;
    border-radius: 59%;
    overflow: hidden;
}

.Name {
    text-transform: capitalize;
}
